@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 195 15% 95%; /* need change */
        --foreground: 222.2 84% 4.9%; /* need change */

        --card: 0 0% 100%; /* need change */
        --card-foreground: 222.2 84% 4.9%; /* need change */

        --popover: 195 15% 95%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%; /* need change */
        --primary-foreground: 210 40% 98%; /* need change */

        --secondary: 0 0% 100%;
        --secondary-foreground: 222.2 47.4% 11.2%; /* need change */

        --muted: 210 40% 96.1%; /* need change */
        --muted-foreground: 215.4 16.3% 46.9%; /* need change */

        --accent: 210 40% 96.1%; /* need change */
        --accent-foreground: 222.2 47.4% 11.2%; /* need change */

        --destructive: 0 84.2% 60.2%; /* need change */
        --destructive-foreground: 210 40% 98%; /* need change */

        /* --icon-primary: 201 99% 55%;
        --outside-icon-primary: 203 47% 23%;

        --icon-secondary: 173 62% 82%;
        --outside-icon-secondary: 180 10% 30%;

        --icon-tertiary: 35 99% 67%;
        --outside-icon-tertiary: 35 29% 28%;

        --icon-destructive: 6 39% 53%;
        --outside-icon-destructive: 0 17% 23%; */

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%; /* need change */
        --ring: 222.2 84% 4.9%; /* need change */

        --radius: 0.5rem;
    }

    .dark {
        --background: 252 25% 8%;
        --foreground: 240 4% 76%;

        --card: 256 18% 12%;
        --card-foreground: 255 5% 83%;

        --popover: 252 25% 8%;
        --popover-foreground: 240 4% 76%;

        --primary: 201 99% 55%; /* need change */
        --primary-foreground: 222.2 47.4% 11.2%; /* need change */

        --secondary: 251 20% 11%;
        --secondary-foreground: 249 10% 39%;

        --muted: 217.2 32.6% 17.5%; /* need change */
        --muted-foreground: 215 20.2% 65.1%; /* need change */

        --accent: 217.2 32.6% 17.5%; /* need change */
        --accent-foreground: 210 40% 98%; /* need change */

        --destructive: 0 62.8% 30.6%; /* need change */
        --destructive-foreground: 210 40% 98%; /* need change */

        --border: 248 10% 16%;
        --input: 217.2 32.6% 17.5%; /* need change */
        --ring: 212.7 26.8% 83.9%; /* need change */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
